.card {
  width: 450px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 5px solid #0000;
  border-radius: 12px;
  border-style: solid;
  /* backdrop-filter: blur(5px); */
  border-image: linear-gradient(to bottom, lightblue, rgba(0, 0, 0, 0)) 1 100%;
}

.title {
  text-align: center;
}

.contactForm {
  margin: 0 auto;
  display: block;
  width: 450px;
  padding: 40px;
  border-radius: 20px;
  opacity: 75%;
}

.contactForm label {
  display: block;
  width: 380px;
  padding: 5px;
  margin-top: 30px;
}

.contactForm input {
  display: block;
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.contactForm textarea {
  display: block;
  width: 380px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.contactForm select {
  display: block;
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.contactForm button {
  display: block;
  margin: 40px auto;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid royalblue;
  color: royalblue;
  background-color: #ffffff;
  cursor: pointer;
}

.required {
  color: red;
}

.success {
  color: green;
}
