body {
  background-color: #1a1a1a;
  color: #fff;
}

.home-container {
  padding: 50px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 60, 115, 1) 50%,
    rgb(2, 0, 36, 1) 100%
  );
  color: #fff;
}

.hero-container {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #ff4e50, #f9d423);
}

header {
  margin-bottom: 20px;
}

.title {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

.project-introduction {
  font-size: 1.4em;
  margin-bottom: 30px;
}

.feature-container {
  display: block;
  justify-content: space-around;
  padding: 40px;
}

.feature {
  border-style: solid;
  border-image: linear-gradient(to bottom, lightblue, rgba(0, 0, 0, 0)) 1 100%;
  text-align: center;
  background-color: transparent;
  padding: 20px;
  font-size: x-large;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.feature-1 {
  width: 300px;
  height: 300px;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.title {
  text-align: center;
}

.project-introduction {
  text-align: center;
}

.title_box {
  /* background-color: #333; */
}
