.App {
  text-align: center;
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
}

#playlists {
  margin-top: 5vh;
  width: 30vw;
  height: 100vh;
  
}

.PlaylistContainer {
  display: flex;
  flex-direction: row;
  width: 25vw;
  margin-left: 2vw;
}

.PlayerTrackContainer {
  /* margin-top: 2vh;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: #333; */
  margin-top: 2vh;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  width: 70vw;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    background: linear-gradient(to right, #fe8c00, #f83600);   
    border-radius: 15px;
}

.PlayerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playlist_entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  box-shadow: 0 0 20px rgba(7, 94, 142, 0.3);
    border-radius: 8x;
    transition: transform 0.3s ease-in-out
}

.playlist_entry:hover{
  transform: scale(1.05);
  
  }

.playlist_img {
  width: 5vw;
  height: 7vh;
}

#tracks {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(45, 45, 48, 0.3); /* #4a97df */
  padding: 5px;
}

.tracks_img {
  width: 5vw;
  margin-right: 15px;
  border-radius: 10px;
}

.tracks_entry {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 15vh;
  text-align: center;
  background-color: #333;
  padding: 10px;

  box-shadow: 0 0 20px rgba(2, 2, 40, 0.3);
}

#progressBar {
  width: 100vw;
}

#progressBarMeter {
  width: 60vw;
  height: 1vh;
}

#songIcon {
  margin-left: -10px;
}

#songIconImg {
  width: 5vw;
  height: 10vh;
}

.ControlsContainer {
  display: flex;
  flex-direction: column;
  
}

#progressBarBack {
  border: 1px solid royalblue;
}

#progressBarPause {
  border: 1px solid royalblue;
}

#progressBarSkip {
  border: 1px solid royalblue;
}
